<div class="row collapse">
    <div class="large-8 medium-7 columns">
        <h1>The Color Canvas</h1>
    </div>
    <div class="large-4 medium-5 columns">
        <section>
            <label for="chkIsActiveCanvas" class="button button-fx expand" data-bind="css:{alert:!activeCanvas(),disabled:disableCanvas},attr:{disabled:disableCanvas}">
                <input id="chkIsActiveCanvas" type="checkbox" style="display:none" data-bind="checked:activeCanvas" />
                <span data-bind="text:activeCanvas()?'Canvas Active':'Canvas Disabled'"></span>
            </label>
        </section>
    </div>
</div>

